*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#cuerpo
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(93, 98, 98);
    font-size: 30px;
    color: aliceblue;
}

main
{
    background-color: aqua;
}

#cabecera
{
    background-color: rgb(116, 178, 17);
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

#cabecera p
{
    text-align: center;
    font-size: 0.8em;
}

#contenedor
{
    background-color: rgb(222, 119, 8);
    padding: 20px;
    text-align: center;
    border: 1px, solid rgb(1, 1, 1);

}

#contenedor form
{
    background-color: brown;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid black;
}

#reglas
{
    background-color: rgb(39, 18, 58);
    text-align: center;
    padding: 30px;
    font-size: 0.7em;
}

#footer
{
    background-color: rgb(7, 7, 56);
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}