*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main
{
    background-color: aqua;
}

#cabecera
{
    display: flex;
    background-color: rgb(116, 178, 17);
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

#cabecera p
{
    font-size: 0.8em;
}

#nav ul
{
    background-color: blueviolet;
    display: flex;
    margin: 5px;
    padding: 10px;
    list-style: none;
    font-size: 20px;
}

#nav li a
{
    color: aliceblue;
    padding: 10px;
}

#cuerpo
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(93, 98, 98);
    font-size: 30px;
    color: aliceblue;
}

#contenedor
{
    background-color: rgb(222, 119, 8);
    padding: 20px;
    text-align: center;

}

#contenedor form
{
    text-align: left;
    background-color: brown;
    padding: 30px;
    font-size: 0.7em;
    border: 1px solid rgb(126, 37, 37);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
}

#reglas
{
    background-color: rgb(39, 18, 58);
    text-align: left;
    padding: 30px;
    font-size: 0.7em;
}

#reglas p
{
    font-weight: bold;
}

#reglas ul
{
    list-style: none;
}

#footer
{
    background-color: rgb(7, 7, 56);
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}

#boton
{
    margin: 20px;
    background-color: rgb(210, 92, 18);
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    width: 450px;
    height: 40px;
    border: none;
    box-shadow: 0px 2px 20px 0px black;
}

#nombre 
{
    margin: 10px;
    width: 300px;
    height: 40px;
}

#apellido
{
    margin: 10px;
    width: 300px;
    height: 40px;
}

#correo
{
    margin: 10px;
    width: 300px;
    height: 40px;
}

#telefono
{
    margin: 10px;
    width: 300px;
    height: 40px;
}